:root {
	--fd-icon-count:11;
	--fd-template-columns:repeat(5,1fr);
	--fd-background-size:400% 400%;
	--fd-font-family:Rubik, sans-serif;
	--fd-background:linear-gradient(45deg, rgba(255, 215, 59, 1) 0%, rgba(209, 173, 33, 1) 33%, rgba(255, 215, 59, 1) 66%, rgba(209, 173, 33, 1) 100%);
	--fd-modal-color:rgba(255, 190, 106, 1);
}