:root {
	--fd-icon-count:11;
	--fd-template-columns:repeat(5,2fr);
	--fd-background-size: 100% 100%;
	--tile-radius: 16px;
	--fd-txt-col: white;
	--fd-background: url(https://i.imgur.com/Zs7EmHy.gif);
	--modal-bg: hsla(354, 70%, 54%, 1);
	--fd-modal-color:white;
	--tile-border:rgba(255,255,255, 0.75);
	--tile-bg: hsla(354, 70%, 54%, 0.5);

	--fd-input-bg: hsla(354, 70%, 54%, 0.25);
	--fd-input-col: rgba(255,255,255);

	--fdm-background: rgba(255,255,255,0.125);
	--fdm-background-size:400% 400%;
	--fdm-bg-anim:abc 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
	--fdm-text:white;

	--companion-left-sidebar-bg: rgba(0,0,0,0.4);
	--companion-right-sidebar-bg: hsla(354, 70%, 54%, 0.25);
	--companion-left-sidebar-color:white;
	--companion-right-sidebar-color:white;

	--companion-sidebar-item-bg: hsla(354, 70%, 54%, 0.25);
	--companion-sidebar-item-color:white;

}

body {
	animation: none;
}

body::before {
	content: "";
	filter: blur(6px);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--fd-background);
	background-size: var(--fd-background-size);
	z-index: -1;
}