node_modules
plugins/*

tmp/

*.fd.js

# User data
src/configs/*
user-data/sounds/*
user-data/icons/*
user-data/hooks/*

# WebUI Webpacked resources
webui/app/*

# Not sure why this is here.
webui/common/sounds/default*

FreedeckCore.log
