/node_modules
/build
/src/settings/*
src/settings/*
Settings.js
src/api/persistent/theme.sd
src/app/assets/sounds/*
src/app/assets/icons/*
src/api/persistent/theme.sd
src/api/persistent/theme.sd
/plugins/*
plugins/*
