<h1>Marketplace</h1>
<p>Welcome to the Freedeck Marketplace. Here you can download plugins to add even more functionality to your Freedeck.
</p>
<button onclick="universal.mkp_addRepo();">
    Add Unofficial Repo
</button>
<h2 class="message">Loading Marketplace...</h2>
<p>Repositories</p>
<ul class="repositories"></ul>
<div class="marketplace">
    <p>Loading Marketplace...</p>
</div>
<div id="dialog-conta"></div>

<style>
    .disabledable {
        display: flex;
    }

    .repositories {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .repositories li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        color: var(--modal-item-text);
        border: 1px solid #000;
        border-radius: 5px;
        margin: 0.5rem 0;
        gap: 1rem;
        min-width: 150px;
        text-overflow: ellipsis;

        background: var(--modal-item-bg);
        background-size: var(--modal-item-bg-size);
        animation: var(--modal-item-bg-anim);
    }

    .plugin-ifo {
        background: rgba(0, 0, 0, 0.25);
        padding: 0.5rem;
        border-radius: 5px;
    }

    .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        color: var(--modal-item-text);
        border: 1px solid #000;
        border-radius: 5px;
        margin: 0.5rem 0;
        gap: 1rem;
        width: 200px;
        text-overflow: ellipsis;

        background: var(--modal-item-bg);
        background-size: var(--modal-item-bg-size);
        animation: var(--modal-item-bg-anim);
    }

    .marketplace {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .special-lineheight {
        gap: 0;
    }

    .special-lineheight h1 {
        height: 0.5em;
    }
</style>

<script type="module">
    const dialogC = document.createElement('dialog');
    dialogC.classList.add('dialog');
    dialogC.classList.add('full-center')
    const dialog = document.createElement('div');
    dialog.classList.add("flex-wrap")
    dialog.classList.add("special-lineheight")
    dialogC.appendChild(dialog)
    function Show() {
        dialogC.style.display = 'block';
        dialog.style.display = 'flex';
    }
    function Hide() {
        dialogC.style.display = 'none';
        dialog.style.display = 'none';
    }
    Hide();
    document.querySelector("#dialog-conta").appendChild(dialogC)

    const loadRepo = (repo, isUnofficial = false) => {
        document.querySelector('.message').innerHTML = 'Fetching Marketplace repository: ' + repo.title;
        const li = document.createElement('li');
        li.setAttribute('hovereffect', 'yes');
        li.style.cursor = 'default';
        if (!isUnofficial) {
            li.style.background = 'var(--main-bg)';
            li.style.backgroundSize = 'var(--main-bg-size)';
            li.style.animation = 'error-bg 5s linear infinite';
        }
        li.innerText = (isUnofficial ? '(!) ' : '') + repo.title;
        li.innerHTML += " &#10148; ";
        li.innerText += universal.cleanHTML(repo.who);
        document.querySelector('.repositories').appendChild(li);

        if (isUnofficial) {
            const btn = document.createElement("button");
            btn.innerText = "Remove";
            li.appendChild(btn);
            btn.onclick = () => {
                universal.repositoryManager.unofficial = universal.repositoryManager.unofficial.filter((r) => r.link != repo.link);
                universal.save('repos.community', JSON.stringify(universal.repositoryManager.unofficial));
                document.querySelector('.repositories').removeChild(li);
                loadRepos();
            };
        }
        universal.repositoryManager.getPluginsfromRepo(repo.link).then((plugins) => {
            plugins.forEach((plugin) => {
                const req = plugin;
                const li = document.createElement('div');
                li.setAttribute('hovereffect', 'yes');
                li.style.cursor = 'default';
                li.className = 'item';
                const name = document.createElement('div');
                name.innerText = isUnofficial ? '(!) ' + req.name : req.name;
                name.innerHTML += ' &bull; by ';
                name.innerText += req.author;
                name.style.fontWeight = 'bold';
                li.appendChild(name);
                const version = document.createElement('div');
                version.innerText = 'v' + req.version;
                li.appendChild(version);
                const desc = document.createElement('div');
                desc.innerText = req.description;
                desc.classList.add("plugin-ifo")
                li.appendChild(desc);
                const rl = document.createElement('div');
                rl.innerText = "From " + repo.title;
                li.appendChild(rl);
                const file = document.createElement('button');
                file.dataset.HandoffUrl = 'freedeck://download/' + req.id + '/' + encodeURIComponent(req.file) + '/' + encodeURIComponent(req.description) + '/' + encodeURIComponent(repo.title);
                file.onclick = () => {
                    window.location.href = file.dataset.HandoffUrl;
                    universal.uiSounds.playSound('int_confirm');
                };
                file.innerText = 'Download';
                if (universal.plugins[req.id]) {
                    file.innerText = 'Installed';
                    file.style.backgroundColor = 'var(--marketplace-plugin-installed)';
                    if (!universal.plugins[req.id].version) universal.plugins[req.id].version = '1.0.0';
                    if (universal.plugins[req.id].version != req.version) {
                        file.innerText = 'Update';
                        file.dataset.HandoffUrl = file.dataset.HandoffUrl.replace('freedeck://download', 'freedeck://update') + "/" + encodeURIComponent(universal.plugins[req.id].version) + "/" + encodeURIComponent(req.version);
                        file.style.backgroundColor = 'var(--marketplace-plugin-updatable)';
                    } else
                        if (universal.plugins[req.id].version == req.version) {
                            file.innerText = 'Up to date';
                            file.style.backgroundColor = 'var(--marketplace-plugin-no-updates)';
                            file.onclick = () => { };
                        } else {
                            file.onclick = () => { };
                        }
                };
                li.appendChild(file);
                document.querySelector('.marketplace').appendChild(li);
            });
        }).catch(err => {
            const cnt = document.createElement("div");
            cnt.classList.add("item");
            const txt = document.createElement("h1");
            txt.innerHTML = `${repo.title}`;
            const er = document.createElement("p");
            er.classList.add("plugin-ifo");
            er.innerHTML = err.msg;
            if(err.toString().includes("Failed to fetch"))
            er.innerHTML += `<br>(Could not reach ${repo.link}, is the internet down?)`;
            cnt.appendChild(txt);
            cnt.appendChild(er);
            document.querySelector(".marketplace").appendChild(cnt);
        })

        document.querySelector('.message').innerHTML = '';
    };


    const loadRepos = () => {
        document.querySelector('.repositories').innerHTML = '';
        document.querySelector('.marketplace').innerHTML = '';
        universal.repositoryManager.official.forEach((repo) => {
            loadRepo(repo);
        });

        universal.repositoryManager.unofficial.forEach((repo) => {
            loadRepo(repo, true);
        });
    };
    loadRepos();
    function addRepo() {
        universal.uiSounds.playSound('int_confirm');
        dialog.innerHTML = `
            <h1>New Repository</h1>
                <p class="add-msg">Enter the URL of the repository</p>
                <label for="title">Repository Title</label><input type="text" id="title" placeholder="freedeck.app">
                <label for="url">Repository URL</label><input type="text" id="url" placeholder="https://freedeck.app/_fd/repository.php">
                <br>
                <div class="flex-wrap-r space-evenly">
                <button class="tint-green" id="submit">Add</button>
                <button id="cancel">Cancel</button>
                </div>
        `;
        Show()
        document.querySelector('#cancel').onclick = () => {
            Hide();
            universal.uiSounds.playSound('int_no');
        };
        dialog.querySelector('#submit').onclick = () => {
            document.querySelector('#submit').disabled = true;
            document.querySelector('#cancel').disabled = true;

            document.querySelector('#submit').innerText = "Downloading content...";

            const title = dialog.querySelector('#title').value;
            const url = dialog.querySelector('#url');

            if(url == "https://freedeck.app/_fd/repository.php") {
                document.querySelector('.add-msg').innerText = 'The official repository is already added! No need to add it again.';
                document.querySelector('#submit').disabled = false;
                document.querySelector('#cancel').disabled = false;
                document.querySelector('#submit').innerText = "Add";
                return;
            }

            document.querySelector('.add-msg').innerText = 'Fetching repository from ' + url.value + '...';

            universal.uiSounds.playSound('int_prompt');
            fetch(url.value, { method: 'GET' }).then(res => {
                if(res.status != 200) {
                    document.querySelector('.add-msg').innerText = 'Failed to fetch repository from ' + url.value + '. Is the URL correct?';
                    document.querySelector('#submit').disabled = false;
                    document.querySelector('#cancel').disabled = false;
                    document.querySelector('#submit').innerText = "Add";
                    return;
                }
                return res.text()
            }).then(data => {
                const desc = data.split('\n')[0]
                console.log(title, desc, url)
                let curr = [];
                if (universal.load('repos.community') != 'ée') curr = JSON.parse(universal.load('repos.community'))
                curr.push({ title, who: desc, link: url.value })
                universal.save('repos.community', JSON.stringify(curr))
                Hide()  
                universal.repositoryManager.unofficial = curr;
                loadRepos();
            }).catch(err => {
                document.querySelector('.add-msg').innerHTML = 'Failed to fetch repository from ' + url.value + '.<br>' + err;
                if(err.toString().includes("Failed to fetch"))
                document.querySelector('.add-msg').innerHTML += `<br>(Could not reach site, is the internet down?)`;
                document.querySelector('#submit').disabled = false;
                document.querySelector('#cancel').disabled = false;
                document.querySelector('#submit').innerText = "Add";
            });
        }
    }

    universal.mkp_addRepo = addRepo;
    export default addRepo;
</script>