<h1 class="settings-section-title">Plugins <span><img src="/common/icons/t_plugin.svg" width="50" height="50"></span></h1>
<center><p>Here you can view every plugin connected to Freedeck and it's related tile type!</p></center>
<button id="upd">Reload All Plugins</button>

<center>
</center>
<details id="tile-prev">
    <summary><strong>Tile Previews</strong></summary>
    <div class="btns"></div>
</details>

<h2>Disabled Plugins</h2>
<div id="disbl-list" class="row"></div>

<script type="module">
    const seen = {};

    Object.keys(universal.plugins).forEach((plugin) => {
        const req = universal.plugins[plugin];
        const li = document.createElement('li');
        li.setAttribute('hovereffect', 'yes');
        li.style.cursor = 'default';
        if (seen[req.name]) return;
        seen[req.name] = true;

        const nameEle = document.createElement('h3');
        nameEle.innerText = req.name;
        li.appendChild(nameEle);
        const versionEle = document.createElement('p');
        versionEle.innerText = req.version ? 'v' + req.version : '';
        li.appendChild(versionEle);
        const authorEle = document.createElement('p');
        authorEle.innerText = 'by ' + req.author;
        li.appendChild(authorEle);

        const actionContainer = document.createElement('div');
        actionContainer.classList.add('flex-wrap-r');
        actionContainer.style.width = '100%';
        actionContainer.style.justifyContent = 'space-between';

        const a = document.createElement('button');
        a.innerText = 'Disable';
        a.onclick = () => {
            universal.uiSounds.playSound('int_confirm');
            window.showPick('Are you sure you want to disable ' + req.name + '?', [{ name: 'Yes', value: true }, { name: 'No', value: false }], (m, v) => {
                if (v.value == true) {
                    universal.send(universal.events.default.disable_plugin, req.id);
                }
            });
            // universal.send(universal.events.default.disable_plugin, req.id);
        };
        const b = document.createElement('button');
        b.innerText = 'Reload';
        b.onclick = () => {
            universal.uiSounds.playSound('int_yes');
            universal.send(universal.events.default.reload_single_plugin, req.id);
        };
        actionContainer.appendChild(a);
        actionContainer.appendChild(b);
        li.appendChild(actionContainer);
        document.querySelector('#actl').appendChild(li);

        const types = req.types;
        types.forEach((dataObj) => {
            const tmpBtn = document.createElement('button');
            tmpBtn.innerText = dataObj.name + ': ' + dataObj.type;
            tmpBtn.onclick = (ev) => {
                universal.send(universal.events.keypress, { event: ev, btn: { uuid: 0, name: dataObj.name, type: dataObj.type } });
            };
            document.querySelector('.btns').appendChild(tmpBtn);
        });
    });

    universal._information.disabled.forEach((plugin) => {
        if (seen[plugin]) return;
        seen[plugin] = true;
        const a = document.createElement('button');
        a.innerText = 'Enable ' + plugin.split('.disabled')[0].split(".")[0];
        a.onclick = () => {
            console.log(plugin);
            universal.uiSounds.playSound('int_confirm');
            universal.send(universal.events.default.enable_plugin, plugin);
            if (!dialog.open) dialog.showModal();
            dialog.innerHTML = `<p>Enabling ${plugin.split('.disabled')[0]}!</p>`;
        };
        document.querySelector('#disbl-list').appendChild(a);
    });

    document.querySelector('#upd').onclick = () => {
        universal.uiSounds.playSound('int_yes');
        universal.send(universal.events.default.update_plugins);
        if (!dialog.open) dialog.showModal();
        dialog.innerHTML = `<p>Reloading plugins!</p>`;
    };
    const dialog = document.querySelector('dialog') || document.createElement('dialog');
    if (!document.querySelector('dialog')) document.body.appendChild(dialog);

</script>