<body>
  
  <center>
    <h1><span class="type">Unknown</span> Uploads</h1>
    <p>Click an item to select it.</p>
  </center>
  
  <div class="uploads">
  
  </div>
  
  <button id="close-ctxl">Close</button>
  
  <div class="bottom">
    <button id="upload-new" onclick="universal._Uploads_New()">
      Upload new Loading..
    </button>
    <p>You've selected: <strong id="selected">nothing yet!</strong></p>
    <button id="upload-select" onclick="universal._Uploads_Select()">Select</button>
  </div>
</body>

<style>
  .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  #close-ctxl {
    position: fixed;
    top: 0;
    right: 0;
  }

  .uploads {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .upload {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: black;
    border: 1px solid #000;
    border-radius: 5px;
    gap: 0.25rem;
    width: max-content;
    height: max-content;
    text-overflow: ellipsis;

    background: var(--fdm-background);
    background-size: var(--fdm-background-size);
    animation: var(--fdm-bg-anim);
  }

  .upload img {
    width: 25%;
    height: 25%;
  }

  .upload.selected {
    filter: drop-shadow(0 0 0.5rem #00f);
    animation: selected-shine 1s infinite;
  }

  @keyframes selected-shine {
    0%, 100% {
      filter: drop-shadow(0 0 0.5rem #00f) brightness(1.1);
      transform: rotate(0deg) scale(1);
    }
    50% {
      filter: drop-shadow(0 0 0.5rem #0ff) brightness(1.3);
      transform: rotate(0.4deg) scale(1.05);
    }
  }
</style>

<script>
  const viewType = universal._Uploads_View
  const vtxt = document.querySelector('h1 span.type')
  vtxt.innerText = viewType == 0 ? "Sound" : "Icon";
  document.querySelector('#upload-new').innerText = `Upload new ${viewType == 0 ? "Sound" : "Icon"}`;
  fetch("/user-report").then((res) => res.json()).then((data) => {
    for(const i of data.report[viewType]) {
      const upload = document.createElement('div');
      upload.className = 'upload';
      upload.innerHTML = `<p>${i}</p><img src="/${viewType == 0 ? "sounds" : "icons"}/${i}" />`;
      document.querySelector('.uploads').appendChild(upload);
      upload.onclick = (ev) => {
        universal._Uploads_Selected = i;
        document.querySelectorAll('.upload').forEach((el) => el.classList.remove('selected'));
        upload.classList.add('selected');
        document.getElementById('selected').innerText = i;
      }
    }
    for(const f of fl) {
      f.func(...f.args);
    }
  })
  let fl = [];
  universal._UPS_ONLOAD = (func, args=[]) => {
    fl.push({func: func, args: args});
  }
  universal._UPS_new = (i) => {
    console.log(i)
    universal._Uploads_Selected = i;
        document.querySelectorAll('.upload').forEach((el) => {
          el.classList.remove('selected')
          console.log(el)
          if(el.querySelector('p').innerText == i) {
            el.classList.add('selected');
          }
        });
        document.getElementById('selected').innerText = i;
  }
  document.getElementById('close-ctxl').onclick = () => {
    document.querySelector(universal.ctx.view_container).style.display = 'none';
  };
</script>