body {
	color: var(--fd-txt-col);
}

input {
	background-color: var(--fd-input-bg);
	color: var(--fd-input-col);
}

.dialog {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 500;
	display: block;
	transition-duration: .25s;
}
.prompt {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 500;
}

.prompt > iframe {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 50%;
	background-color: var(--fd-modal-bg);
	color: var(--fd-modal-color);
	border-radius: 0.5rem;
	padding: 1.5rem;
	z-index: 1000;
	transition-duration: .25s;
	overflow-y: scroll;
	overflow-x: hidden;
}

#login-div, dialog > div {
	background-color: var(--fd-modal-bg);
	color: var(--fd-modal-color);
	min-width: 400px;
	min-height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 0;
	border-radius: 20px;
	padding: 20px;
	transition-duration: .25s;
}

#login-dialog {
	display: none;
}

.themelist {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1rem;
}

.theme {
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	height: 100%;
	max-width: 14rem;
	border-radius: 5px;
	transition-duration: .25s;
}



#sidebar {
	position: fixed;
	top: 0;
	right: 0;
	border-top-left-radius: 1.5rem;
	border-bottom-left-radius: 1.5rem;
	/* border-radius: 1.5rem; */
	/* width: 15%; */
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: end;
	font-size: 1.75em;
	color: white;
	z-index: 1002;
	transition-duration: .25s;
}


/* find first item in ul*/
#sidebar ul li:first-child {
	margin-top: 2rem;
	text-align: center;
}

#sidebar ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: end;
}

a {
	width: max-content;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 0.75rem;
	text-align: left;
	transition-duration: .25s;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	transform: scale(1.15);
}


.alc {
	align-items: center;
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 20%;
	max-height: 100%;
	border-top-right-radius: 1.5rem;
	/* transform: translateY(-50%); */
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	height: 100%;
	overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
	width: 0;
}

.contextMenu {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border-radius: 0.5rem;
	padding: 0.5rem;
	z-index: 1021;
	transition-duration: .25s;
	cursor: default;
}

.menuItem {
	padding: 0.5rem;
	transition-duration: .25s;
}

.menuItem:hover {
	background-color: rgba(0, 0, 0, 0.75);
	transform: scale(1.1);
	cursor: pointer;
}

#editor-data {
	gap: 1rem;
}

.editor-section {
	background: rgba(0, 0, 0, 0.25);
	padding: 1rem;
	padding-right: 1.5rem;
	width: 90%;
	max-height: 80%;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 1rem;
	overflow: hidden
}

.editor-section-bottom {
	flex-direction: column;
}

.esection {
	background: rgba(0, 0, 0, 0.25);
	padding: 1rem;
	padding-right: 1.5rem;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
}

#editor {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 50%;
	border: 0;
	background-color: rgba(0, 0, 0, 0);
	z-index: 1000;
	transition-duration: .25s;
}

#editor-save {
	position: fixed;
	bottom: 0;
	right: 0;
}

#editor-div {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50vw;
	max-height: 85vh;
	min-width: 50vw;
	min-height: 70vh;
	transform: translate(-50%, -50%);
	background-color: var(--fd-modal-bg);
	color: var(--fd-modal-color);
	padding: 1.5rem;
	z-index: 1000;
	overflow-y: scroll;
	scrollbar-color: rgba(0,0,0,0);
	scrollbar-width: none;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#editor-div>h1,
#editor-div>.notice {
	text-align: center;
}

.flex-wrap {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.flex-wrap-r {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: .25rem;
}

.flex-wrap-r-special {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100%;
}

.toggle-sidebar button {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	transition-duration: .45s;
	transform: rotate(180deg);
}

@keyframes sidebar-slide-in {
	0% {
		left: -20%;
	}
	100% {
		left: 0;
	}
}

@keyframes sidebar-slide-out {
	0% {
		left: 0;
	}
	100% {
		left: -21%;
	}
}

.toggle-sidebar {
	transition-duration: .25s;
	position: fixed;
	top: 50%;
	left: 11.5%;
	width: 2rem;
	z-index: 99;
	transform: translate(0, -50%);
}

#keys {
	gap: 1rem;
	grid-template-columns: var(--fd-template-columns);
	gap: 2px 7px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	padding: 1rem;
	border-radius: 1.5rem;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.disabled {
	pointer-events: none;
	background-color: rgba(0, 0, 0, 0.25);
}

.tag {
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 0.5rem;
	padding: 0.25rem;
}

#editor-close {
	position: absolute;
	margin-top: .25rem;
	top: 0;
	right: 0;
	padding: 1.25rem;
	background-color: rgba(255, 0, 0, 0.25);
	border-radius: 0.5rem;
	cursor: pointer;
	transition-duration: .25s;
}

#editor-close:hover {
	background-color: rgba(255, 0, 0, 0.5);
}

#warning {
	background-color: rgba(0, 0, 0, 0.74);
	color: white;
}


.fdc-slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 2px;
	background-color: rgba(221, 221, 221, 0.5);
	border-radius: 5px;
	outline: none;
	margin: 5px 0;
}

.fdc-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	z-index: 999;
	width: 25px;
	height: 25px;
	background-color: black;
	border-radius: 50%;
	cursor: pointer;
}

.fdc-slider::-webkit-slider-thumb:hover {
	background-color: #555;
}


.fdc-slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	background-color: #333;
	border-radius: 50%;
	cursor: pointer;
}

.fdc-slider::-moz-range-thumb:hover {
	background-color: #555;
}

.fdc-slider::-ms-thumb {
	width: 20px;
	height: 20px;
	background-color: #333;
	border-radius: 50%;
	cursor: pointer;
}

.fdc-slider::-ms-thumb:hover {
	background-color: #555;
}

.unset {
	opacity: 0.5;
	filter: opacity(50%) brightness(50%);
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.75);
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modalContent input {
	background: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 5px;
	border-radius: 5px;
	width: 80%;
}

.sidebar-item {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border-radius: 0.5rem;
	transition-duration: .25s;
	display: flex;
	flex-direction: column;
	font-family: 'Rubik', sans-serif;
}


.modalContent {
	background-color: var(--fd-modal-bg);
	color: var(--fd-modal-color);
	padding: 20px;
	border-radius: 5px;
	width: 50vw;
	flex-direction: column;
	align-items: center;
}

.slider-container, .slider-thumb {
	pointer-events: none;
}

.plugin-items {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: start;
	justify-content: start;
}

.plugin-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	padding: 0.5rem;
}

.pl-settings-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	padding: 0.5rem;
	gap: 1rem;
}

.spi-active {
	background-color: rgba(0, 0, 0, 0.75);
}

.spiaction {
	display: none;
}

#spi-actions {
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.fdc-checkbox {
	width: 1.5rem;
	height: 1.5rem;
}

.fdc-slider-min {
	float: left;
}

.fdc-slider-max {
	float: right;
}

.fdc-slider-value {
	text-align: center;
}

#es-profiles>div button {
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 100%;
	width: 3rem;
	height: 3rem;
	min-width: 3rem;
	min-height: 3rem;
}

.ico {
	--icon-size: 1.75rem;
	min-width: var(--icon-size);
	min-height: var(--icon-size);
	max-width: var(--icon-size);
	max-height: var(--icon-size);
	width: var(--icon-size);
	height: var(--icon-size);
	pointer-events: none;
}

#pl-settings {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#boot-log-div {
	background-color: rgba(0, 0, 0,0);
	color: white;
	border-radius: 0.5rem;
	padding: 0.5rem;
	display:block;
	position: absolute;
	z-index: 1099;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	top: 0;
	left: 0;
}

#constat {
	font-size: .75em;
	display: block;
}


#ctxl-view-cont {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--fd-modal-bg);
	color: var(--fd-modal-color);
	overflow-y: scroll;
	overflow-x: hidden;
	/* margin-right: 10rem; */
	z-index: 1000;
	padding: 1.25rem;
}

#ctxl-view-cont html {
	background: none;
	width: 90%;
	height: 100%;
	color:white;
	position: absolute;
}

#ctxl-view-cont html body {
	background: none;
	width: 100%;
	height: 100%;
	color:white;
  scrollbar-width: none;  /* Firefox */
	position: absolute;
}
#ctxl-view-cont html body::-webkit-scrollbar {
  display: none;
}

@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/** MODALS */

.modalClose {
	position: absolute;
	top: 0;
	right: 0;
	margin: 20px;
}

.modalTitle {
	margin-bottom: 20px; 
}

.modalFeedback {
	color: red;
	margin-bottom: 20px;
}

.modalInput_text {
	margin-bottom: 20px;
}

.modalTextContent {
	margin-bottom: 20px;
}

.modalList_btns {
	display: flex;
	flex-wrap: wrap;
	overflow-y: auto;
	gap: 15px;
	padding: 5px;
	margin-bottom: 20px;
}

.mt-next-page {
	/* should be near #keys*/
	position: absolute;
	bottom: 0;
	right: 0;
	width: 40%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 1rem;
	transform: translate(100%);
	display: none;
	align-items: center;
	justify-content: center;
}

.mt-prev-page {
	/* should be near #keys*/
	position: absolute;
	bottom: 0;
	left: 0;
	width: 40%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 1rem;
	transform: translate(-100%);
	display: none;
	align-items: center;
	justify-content: center;
}