<h1>Marketplace</h1>
<p>Since the marketplace is in beta, it only supports Windows for now. Support for other platforms will be added later.
</p>
<button onclick="addRepo();">
    Add Unofficial Repo
</button>
<ul class="repositories"></ul>
<div class="marketplace">
    <p>Loading Marketplace Handler...</p>
</div>

<style>
    .disabledable {
        display: flex;
    }

    .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        border: 1px solid #000;
        border-radius: 5px;
        margin: 0.5rem 0;
        gap: 1rem;
        width: 200px;
        text-overflow: ellipsis;

        background: var(--fdm-background);
        background-size: var(--fdm-background-size);
        animation: var(--fdm-bg-anim);
    }

    .marketplace {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
</style>

<script type="module">
    const dialog = document.createElement('dialog');
    const loadRepo = (repo, isUnofficial = false) => {
        document.querySelector('.marketplace').innerHTML = 'Fetching Marketplace repository: ' + repo.title;
        const li = document.createElement('li');
        li.setAttribute('hovereffect', 'yes');
        li.style.cursor = 'default';
        li.innerText = (isUnofficial ? '(!) ' : '') + repo.title + ' - ' + repo.who;
        document.querySelector('.repositories').appendChild(li);

        universal.repositoryManager.getPluginsfromRepo(repo.link).then((plugins) => {
            document.querySelector('.marketplace').innerHTML = '';
            if (plugins[0].err) {
                li.innerText += ' - Error: ' + plugins[0].msg;
                if (!isUnofficial) return;
            }
            if (isUnofficial) {
                li.innerHTML += '<a href="#">Remove</a>';
                li.querySelector('a').onclick = () => {
                    universal.repositoryManager.unofficial = universal.repositoryManager.unofficial.filter((r) => r.link != repo.link);
                    universal.save('repos.community', JSON.stringify(universal.repositoryManager.unofficial));
                    document.querySelector('.repositories').removeChild(li);
                    window.location.reload();
                };
            }
            plugins.forEach((plugin) => {
                const req = plugin;
                const li = document.createElement('div');
                li.setAttribute('hovereffect', 'yes');
                li.style.cursor = 'default';
                li.className = 'item';
                const name = document.createElement('div');
                name.innerText = isUnofficial ? '(!) ' + req.name : req.name;
                li.appendChild(name);
                const author = document.createElement('div');
                author.innerText = req.author;
                li.appendChild(author);
                const version = document.createElement('div');
                version.innerText = 'v' + req.version;
                li.appendChild(version);
                const desc = document.createElement('div');
                desc.innerText = req.description;
                li.appendChild(desc);
                const rl = document.createElement('div');
                rl.innerText = "Repository: " + repo.title;
                li.appendChild(rl);
                const file = document.createElement('button');
                file.onclick = () => {
                    universal.uiSounds.playSound('int_confirm');
                    dialog.innerHTML = `
        <h1>Download ${req.name}</h1><p>Are you sure you want to download ${req.name} (from ${repo.title})?</p>
        <span>
        <button id="yes">Yes</button>
        <button id="no">No</button>
        </span>`;
                    dialog.showModal();
                    document.querySelector('#yes').onclick = () => {
                        universal.uiSounds.playSound('int_yes');
                        const handoffURL = 'freedeck://download/' + req.id + '/' + encodeURIComponent(req.file);
                        window.location.href = handoffURL;
                        dialog.innerHTML = `<h1>Downloading ${req.name}</h1><p>Downloading ${req.name}...</p>`;
                    };
                    document.querySelector('#no').onclick = () => {
                        universal.uiSounds.playSound('int_no');
                        dialog.close();
                    };
                };
                file.innerText = 'Download';
                if (universal.plugins[req.id]) {
                    file.innerText = 'Installed';
                    file.style.backgroundColor = 'var(--fdc-plugin-installed)';
                    if (!universal.plugins[req.id].version) universal.plugins[req.id].version = '1.0.0';
                    if (universal.plugins[req.id].version != req.version) {
                        file.innerText = 'Update';
                        file.style.backgroundColor = 'var(--fdc-plugin-updatable)';
                    } else
                        if (universal.plugins[req.id].version == req.version) {
                            file.innerText = 'Up to date';
                            file.style.backgroundColor = 'var(--fdc-plugin-uptodate)';
                            file.onclick = () => { };
                        } else {
                            file.onclick = () => { };
                        }
                };
                li.appendChild(file);
                document.querySelector('.marketplace').appendChild(li);
            });
        });
    };

    document.body.appendChild(dialog);

    universal.repositoryManager.official.forEach((repo) => {
        loadRepo(repo);
    });

    universal.repositoryManager.unofficial.forEach((repo) => {
        loadRepo(repo, true);
    });

    universal.on(universal.events.default.plugin_downloaded, () => {
        dialog.innerHTML += `<p>Downloaded successfully. Give Freedeck a second to update it's plugin index.</p>`;
    });

    universal.on(universal.events.default.plugins_updated, () => {
        if (!dialog.open) dialog.showModal();
        dialog.innerHTML = `<p>Plugins reloaded.</p><button id="close">Refresh</button>`;
        document.querySelector('#close').onclick = () => {
            universal.uiSounds.playSound('click');
            window.location.reload();
        };
    });

    function addRepo() {
        universal.uiSounds.playSound('int_prompt');
        if (document.querySelector('#repo-dialog')) document.querySelector('#repo-dialog').remove();
        const modal = document.createElement('dialog');
        modal.className = 'dialog';
        modal.id = 'repo-dialog';
        modal.innerHTML = `
            <div id="login-div">
                <h1>Freedeck 6 - Companion</h1>
                <p>Enter the URL of the repository</p>
                <label for="title">Repository Title</label><input type="text" id="title" placeholder="freedeck.app">
                <label for="url">Repository Access URL</label><input type="text" id="url" placeholder="https://freedeck.app/_fd/repository.php">
                <button id="submit">Submit</button>
                <button onclick="universal.uiSounds.playSound('int_no'); document.querySelector('#repo-dialog').style.display='none';">Cancel</button>
            </div>
        `;
        console.log(modal)

        document.body.appendChild(modal)
        modal.style.display = 'block'
        modal.style.position = 'absolute'
        modal.querySelector('#login-div').style.display = 'block';
        modal.querySelector('#login-div').style.height = 'max-content';
        modal.querySelector('#login-div').querySelector('#submit').onclick = () => {
            const title = modal.querySelector('#title').value;
            fetch(modal.querySelector('#url').value, { method: 'GET' }).then(res => res.text()).then(data => {
                const desc = data.split('\n')[0]
                const url = modal.querySelector('#url').value;
                console.log(title, desc, url)
                let curr = [];
                if (universal.load('repos.community') != 'ée') curr = JSON.parse(universal.load('repos.community'))
                curr.push({ title, who: desc, link: url })
                universal.save('repos.community', JSON.stringify(curr))
                modal.remove()
                window.location.reload();
            })
        }
    }
    export default addRepo;
</script>