:root {

    --fd-template-columns: repeat(5, 2fr);
    --fd-font-family: 'Rethink Sans', sans-serif;
    --fd-background-size: 400% 400%;
    --fd-background: linear-gradient(105deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    --fd-rotation-degrees: 2deg;
    --tile-bg: rgba(0, 0, 0, 0.5);
    --button-width: 6rem;
    --button-height: 6rem;
    
    --tile-radius: 1.5rem;
    
    --modal-bg: #1e1e1e;
    --fd-modal-color: white;

    --fd-col: white;
    --fd-txt-col: black;

    --fd-font-size: 15px;
    --fd-icon-tip-fs: 1.5rem;

    --fd-input-bg: #FFFFFF;

    --fd-logo-size: 75px;

    --fd-studio-color: #45475a;

    --fdc-plugin-updatable: #1a1a1a;
    --fdc-plugin-uptodate: #1a1a1a;
    --fdc-plugin-installed: #1a1a1a;

    --fdm-background: linear-gradient(105deg,rgba(0, 179, 255, 1) 0%, rgba(0, 135, 255, 1) 50%, rgba(0, 179, 255, 1) 100%);
    --fdm-background-size: 400% 400%;
    --fdm-bg-anim: abc 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
    --fdm-text: white;

    --companion-left-sidebar-bg: rgba(0,0,0,0.5);
    --companion-right-sidebar-bg: rgba(0,0,0,0.5);

    --companion-left-sidebar-color: white;
    --companion-right-sidebar-color: white;

    --companion-sidebar-item-bg: rgba(0,0,0,0.5);
    --companion-sidebar-item-color: white;
}

@keyframes abc {
    0%, 100% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 100%;
    }
}