@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
:root {
    --fd-template-columns: repeat(5, 2fr);
    --fd-font-family: 'Rethink Sans', sans-serif;
    --fd-background-size: 400% 400%;
    --fd-background: linear-gradient(105deg, rgba(255, 0, 89, 1) 0%, rgb(0, 179, 255) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    --fd-rotation-degrees: 2deg;
    --fd-btn-background: rgba(0, 0, 0, 0.5);
    --fd-modal-color: rgb(15, 140, 194);
    --fd-btn-w: 6rem;
    --fd-btn-h: 6rem;

    --fd-tile-w: var(--fd-btn-w);
    --fd-tile-h: var(--fd-btn-h);

    --fd-btn-rad: 1rem;

    --fd-modal-bg: rgba(0,0,0,0.25);

    --fd-col: white;
    --fd-txt-col: black;

    --fd-font-size: 15px;
    --fd-icon-tip-fs: 1.5rem;

    --fd-input-bg: #FFFFFF;

    --fd-logo-size: 75px;

    --fd-studio-color: #45475a;

    --fdc-plugin-updatable: #1a1a1a;
    --fdc-plugin-uptodate: #1a1a1a;
    --fdc-plugin-installed: #1a1a1a;

    --fd-slider-background: #3498db;
    --fd-slider-foreground: transparent;

    --fd-input-bg: #FFFFFF;

    --fd-logo-size: 75px;
}

@keyframes error-bg {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

.settings-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--fd-modal-bg);
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    overflow-y: visible;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    animation: fade-in 0.5s;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.settings-menu .themelist {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    overflow-y: scroll;
}

.settings-menu .themelist .theme {
    font-size: 0.5rem;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 100%;
    max-width: 14rem;
    border-radius: 5px;
    transition-duration: .25s;
} 

.theme button {
    width: 4rem;
}

body {
    background: rgba(255, 0, 89, 1);
    background: var(--fd-background);
    background-size: var(--fd-background-size);
    animation: error-bg 5s linear infinite;
    font-family: var(--fd-font-family);
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    /* padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); */
    overflow-x: hidden;
    touch-action: none;
    -webkit-user-select: none; /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}

.unset {
    background-color: white;
    opacity: 0;
}

@keyframes fade-in {
    from{
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        transform: scale(1);
        opacity: 100%;
    }
}

@keyframes fade-out {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

#snackbar {
    display: flex;
    flex-direction: column;
    min-width: 1rem;
    margin-left: -125px;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999;
}

#toast {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: .25rem;
    padding: 1rem;
    position: relative;
    z-index: 1;
}

select {
    background-color: var(--fd-input-bg);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: var(--fd-font-size);
    font-family: var(--fd-font-family);
    color: var(--fd-txt-col);
    outline: none;
    width: 100%;
    margin: 5px 0;
}

input {
    background-color: var(--fd-input-bg);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: var(--fd-font-size);
    font-family: var(--fd-font-family);
    color: var(--fd-txt-col);
    outline: none;
    width: 100%;
    margin: 5px 0;
}

#login-dialog {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    z-index: 9999;
}

input:disabled {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: var(--fd-font-size);
    font-family: var(--fd-font-family);
    color: var(--fd-col);
    outline: none;
    width: 100%;
    margin: 5px 0;
}

#toast.show {
    visibility: visible;
    animation: fade-in 0.5s, fade-out 0.5s 3s;
}

#keys {
    display: grid;
    grid-template-columns: var(--fd-template-columns);
    gap: 2px 7px;
    width: 100vw;
    height: 100vh;
    margin: 0;    
}

#client-key-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: calc(50% + env(safe-area-inset-left));
    transform: translate(calc(-50% - env(safe-area-inset-left)), -50%);
    padding: 0;
}

#keys button {
    width: var(--fd-tile-w);
    height: var(--fd-tile-h);
}

.button, button {
    width: var(--fd-btn-w);
    height: var(--fd-btn-h);
    overflow: hidden;
    min-width: var(--fd-btn-w);
    min-height: var(--fd-btn-h);
    border-radius: var(--fd-btn-rad);
    background-color: var(--fd-btn-background);
    text-align: center;
    border: 2px solid #f8f9fa; /* Add a border */
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-size: 100% 100%;

    transition-duration: .15s;

    @media(hover: hover) {
        &.tiles-center:hover {
            transform: scale(1.05) translate(-48%, -49%);
            cursor: pointer;
        }
        &:hover {
            filter: brightness(0.84);
            color: white;
            transform: scale(1.05);
            cursor: pointer;
        }
    }
}

.button.tiles-center:active {
    transform: scale(0.875) translate(-57%, -57%);
    filter: brightness(1.2);
    color: white;
}

.button:active, button:active {
    filter: brightness(1.2);
    transform: scale(0.875);
    color: white;
}

.dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--fd-modal-bg);
    padding: 1rem;
    /* border-radius: 1rem; */
    border: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    /* max-width: 500px; */
    margin: 0 auto;

}



.btn-slider {
    width: 100%;
    height: 2px;
    background-color: rgba(221, 221, 221, 0.5);
    border-radius: 5px;
    outline: none;
    margin: 5px 0;
    -webkit-appearance: none;
    accent-color: rgba(0,0,0,0);
}

/* hide accent color */
.btn-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    border: 0;
    background: transparent;
}

.btn-slider::-moz-range-thumb {
    width: 0;
    height: 0;
    border: 0;
    background: transparent;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.spinner {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

.slider-container {
    min-width: var(--fd-btn-w);
    min-height: var(--fd-btn-h);
    width: 100%;
    height: 100%;
    background-color: var(--fd-btn-background);
    border-radius: var(--fd-btn-rad);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0s;
}

.slider-title {
    font-size: var(--fd-font-size);
    color: white;
    text-align: center;
    pointer-events: none;
}

.slider-thumb {
    width: 100%;
    height: 100%;
    background-color: var(--fd-slider-foreground);
    opacity: 0;
    position: absolute;
    cursor: pointer;
    /* pointer-events: none */
}

.slider-percentage {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
    font-size: .75rem;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.too-big {
    font-size: calc(var(--fd-font-size) * 1.5);
    flex: 0 1 auto;
    animation: marquee 5s linear infinite;
    white-space: nowrap;
    text-size-adjust: none;
    pointer-events: none;
}

.button-text {
    font-size: var(--fd-font-size);
    width: calc(min-content + 1rem);
    color: white;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    pointer-events: none;
}

#keys {
    width: calc(100% - env(safe-area-inset-left) - env(safe-area-inset-right));
}

#keys .button {
    position: relative;
    min-height: var(--fd-tile-h);
    min-width: var(--fd-tile-w);
}

.plugin-missing {
    background-color: rgba(255, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    /* bottom right of parent */
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9999;
}
.plugin-type-missing {
    background-color: rgba(255, 255, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    /* bottom right of parent */
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9999;
}
.indicator-green {
    background-color: rgba(0, 255, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    /* bottom right of parent */
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9999;
}
.indicator-yellow {
    background-color: rgba(255, 255, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    color: white;
    padding: 0.5rem;    
    border-radius: 0.5rem;
    margin: 0.5rem;
    /* bottom right of parent */
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9999;
}
.indicator-red {
    background-color: rgba(255, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    /* bottom right of parent */
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9999;
}

.tiles-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.glow {
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 40px rgba(255, 0, 0, 0.5);
    }
    100% {
        box-shadow: 0 0 40px rgba(0, 255, 255, 1);
    }
}

.tooltip {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px;
    border-radius: 1.5rem;
    z-index: 1000;
    pointer-events: none;
    transition: opacity 0.2s;
}

.tooltip.show {
    display: block;
    opacity: 1;
    animation: fade-in 0.5s;
}