@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
:root {
    --tile-columns: repeat(5, 2fr);
    --font: 'Rethink Sans', sans-serif;
    --main-bg-size: 400% 400%;
    --main-bg: linear-gradient(105deg, rgba(255, 0, 89, 1) 0%, rgb(0, 179, 255) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    
    --modal-bg: #17212a;
    --modal-color: white;

    --button-width: 6rem;
    --button-height: 6rem;
    
    --tile-bg: rgba(0, 0, 0, 0.5);
    --tile-border: 2px solid #f8f9fa;
    --tile-width: var(--button-width);
    --tile-height: var(--button-height);
    --tile-radius: 1.5rem;
    
    --app-tile-container-width: 100vw;
    
    --text-color: black;
    --font-size: 15px;

    --input-bg: #FFFFFF;
    --input-color: black;

    --marketplace-plugin-updatable: #1a1a1a;
    --marketplace-plugin-no-updates: #1a1a1a;
    --marketplace-plugin-installed: #1a1a1a;

    --fd-slider-background: #3498db;
    --fd-slider-foreground: transparent;

    --companion-left-sidebar-bg: rgba(0, 0, 0, 0.5);
    --companion-right-sidebar-bg: rgba(0, 0, 0, 0.5);
    --companion-left-sidebar-color: white;
    --companion-right-sidebar-color: white;

    --companion-sidebar-item-bg: rgba(0, 0, 0, 0.5);
    --companion-sidebar-item-color: white;

    --modal-item-bg: linear-gradient(105deg,rgba(0, 179, 255, 1) 0%, rgba(0, 135, 255, 1) 50%, rgba(0, 179, 255, 1) 100%);
    --modal-item-bg-size: 400% 400%;
    --modal-item-bg-anim: backgroundAnimation 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
    --modal-item-text: white;
}

@keyframes error-bg {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

body {
    background: rgba(255, 0, 89, 1);
    background: var(--main-bg);
    background-size: var(--main-bg-size);
    animation: error-bg 5s linear infinite;
    font-family: var(--font);
    color: var(--text-color);
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    /* padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); */
    overflow-x: hidden;
    touch-action: none;
    user-select: none;
    -webkit-user-select: none; /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}
h1 {
    font-family: "Rethink Sans";
    font-size: 2rem;
    /* font-weight: normal; */
    font-weight: 700;
}

.settings-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	background: var(--modal-bg);
	color: var(--modal-color);
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    width: 75%;
    animation: pull-down 0.5s;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

#boot-log-div {
    display: block;
    animation: none;
    width: 100%;
    background: var(--main-bg);
    background-size: var(--main-bg-size);
    font-family: var(--font);
    color: var(--text-color);
    animation: error-bg 5s linear infinite;
}

#boot-log {
    display: block;
    width: 94%;
    height: 73%;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1rem;
    border-radius: 1rem;
}

.settings-menu details {
    width: 95%;
    margin: 0;
    padding: 0;
}

.settings-menu summary {
    width: 95%;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: 0;
    background: var(--tile-bg);
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.themelist {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    overflow-y: scroll;
    max-height: 90%;
    max-width: 95%;
}

.themelist .theme {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    min-height: 5rem;
    min-width: 10rem;
    border-radius: 5px;
    transition-duration: .25s;
    font-size: small;
} 

.theme button {
    width: 4rem;
}

.unset {
    background-color: white;
    opacity: 0;
}

@keyframes fade-in {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes pull-left {
    from{
        width: 0;
        left: 0;
    }

    to {
        width: 100%;
        left: 0;
    }
}

@keyframes pull-right {
    from{
        width: 0;
        right: 0;
    }

    to {
        width: 100%;
        right: 0;
    }
}

@keyframes pull-down {
    from{
        height: 0;
        top: 0;
    }

    to {
        height: 100%;
        top: 0;
    }
}

.flex-wrap {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.flex-wrap-r {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: .25rem;
}

.flex-wrap-r-special {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100%;
}

@keyframes pull-up {
    from{
        height: 100%;
    }

    to {
        height: 0;
    }
}

@keyframes fade-out {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0.9);
        opacity: 0;
    }
}

@keyframes real-fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#snackbar {
    display: flex;
    flex-direction: column;
    min-width: 1rem;
    margin-left: -125px;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999;
}

.toast {
    visibility: hidden;
    background: var(--modal-bg);
    
    color: #fff;
    color: var(--modal-item-text);
    text-align: center;
    border-radius: 1.5rem;
    padding: 1rem;
    position: relative;
    margin-bottom: 1rem;
    margin-right: 1rem;
    z-index: 1;
}

.toast.show {
    visibility: visible;
    animation: fade-in 0.5s, fade-out 0.5s 3s;
}

.toast.hide {
    visibility: visible;
    opacity: 1;
    animation: real-fade-out 0.5s;
}

select {
    background-color: var(--input-bg);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: var(--font-size);
    font-family: var(--font);
    color: var(--input-color);
    outline: none;
    width: 100%;
    margin: 5px 0;
}

input {
    background-color: var(--input-bg);
    border: 0;
    border-radius: 5px;
    padding: 5px;
    font-size: var(--font-size);
    font-family: var(--font);
    color: var(--input-color);
    outline: none;
}

.tint-green {
    background-color: rgba(0, 255, 0, 0.125);
}

.space-evenly {
    justify-content: space-evenly;
    align-items: center;
}

#login-dialog,
.full-center {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    z-index: 9999;
}

input:disabled {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: var(--font-size);
    font-family: var(--font);
    color: var(--text-color);
    outline: none;
    width: 100%;
    margin: 5px 0;
}

.no-bg {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

#keys {
    display: grid;
    grid-template-columns: var(--tile-columns);
    gap: 2px 7px;
    width: 100%;
    height: 100%;
    margin: 0;    
    padding: 0;
    z-index: 9999;
    animation: pull-down 0.5s;
}

#client-key-container {
    width: var(--app-tile-container-width);
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: fixed;
    top:0;
    left:0;
    padding: 0;
}

#keys button {
    width: var(--tile-width);
    height: var(--tile-height);
}

.button, button {
    width: var(--button-width);
    height: var(--button-height);
    overflow: hidden;
    min-width: var(--button-width);
    min-height: var(--button-height);
    border-radius: var(--tile-radius);
    background: var(--tile-bg);
    text-align: center;
    border: var(--tile-border); /* Add a border */
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-size: 100% 100%;

    transition-duration: .15s;

    @media(hover: hover) {
        &.tiles-center:hover {
            transform: scale(1.05) translate(-48%, -49%);
            cursor: pointer;
        }
        &:hover {
            filter: brightness(0.84);
            color: white;
            transform: scale(1.05);
            cursor: pointer;
        }
    }
}

.button.tiles-center:active {
    transform: scale(0.875) translate(-57%, -57%);
    filter: brightness(1.2);
    color: white;
}

.button:active, button:active {
    filter: brightness(1.2);
    transform: scale(0.875);
    color: white;
}

.dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	background: var(--modal-bg);
	color: var(--modal-color);
    padding: 1rem;
    /* border-radius: 1rem; */
    border: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    /* max-width: 500px; */
    margin: 0 auto;

}



.btn-slider {
    width: 100%;
    height: 2px;
    background-color: rgba(221, 221, 221, 0.5);
    border-radius: 5px;
    outline: none;
    margin: 5px 0;
    -webkit-appearance: none;
    accent-color: rgba(0,0,0,0);
}

/* hide accent color */
.btn-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    border: 0;
    background: transparent;
}

.btn-slider::-moz-range-thumb {
    width: 0;
    height: 0;
    border: 0;
    background: transparent;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.spinner {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

.slider-container {
    min-width: var(--button-width);
    min-height: var(--button-height);
    width: 100%;
    height: 100%;
    background: var(--tile-bg);
    border-radius: var(--tile-radius);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0s;
}

.slider-title {
    font-size: var(--font-size);
    color: white;
    text-align: center;
    pointer-events: none;
}

.slider-thumb {
    width: 100%;
    height: 100%;
    background-color: var(--fd-slider-foreground);
    opacity: 0;
    position: absolute;
    cursor: pointer;
    /* pointer-events: none */
}

.slider-percentage {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
    font-size: .75rem;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.too-big {
    font-size: calc(var(--font-size) * 1.5);
    flex: 0 1 auto;
    animation: marquee 5s linear infinite;
    white-space: nowrap;
    text-size-adjust: none;
    pointer-events: none;
}

.button-text {
    font-size: var(--font-size);
    width: calc(min-content + 1rem);
    color: white;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    pointer-events: none;
}

#keys .button {
    position: relative;
    min-height: var(--tile-height);
    min-width: var(--tile-width);
    width: var(--tile-width);
    height: var(--tile-height);
}

.plugin-missing {
    background-color: rgba(255, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    /* bottom right of parent */
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9999;
}
.plugin-type-missing {
    background-color: rgba(255, 255, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    /* bottom right of parent */
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9999;
}
.indicator-green {
    background-color: rgba(0, 255, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    /* bottom right of parent */
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9999;
}
.indicator-yellow {
    background-color: rgba(255, 255, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    color: white;
    padding: 0.5rem;    
    border-radius: 0.5rem;
    margin: 0.5rem;
    /* bottom right of parent */
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9999;
}
.indicator-red {
    background-color: rgba(255, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
    /* bottom right of parent */
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9999;
}

.tiles-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tooltip {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 5px;
    border-radius: 1.5rem;
    z-index: 1020;
    pointer-events: none;
    transition: opacity 0.2s;
}

.tooltip.show {
    display: block;
    opacity: 1;
    animation: fade-in 0.5s;
}

.glow {
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    0%{
        box-shadow: 0 0 20px rgba(255, 0, 89, 1);
        transform: scale(1);
    }
    100% {
        box-shadow: 0 0 20px rgba(0, 179, 255,1);
        transform: scale(1.25);
    }
}

.duplicate {
    background-color: yellow;
    color: black;
    border: 3px solid yellow;
}