@-webkit-keyframes errorBg {
    0% {
        background-position: 100% 0%
    }

    100% {
        background-position: 15% 100%
    }
}

@-moz-keyframes errorBg {
    0% {
        background-position: 100% 0%
    }

    100% {
        background-position: 15% 100%
    }
}

@keyframes errorBg {
    0% {
        background-position: 100% 0%
    }

    100% {
        background-position: 15% 100%
    }
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes animateTop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@media screen and (max-height: 450px) {
    .sideNav {
        padding-top: 15px;
    }

    .sideNav a {
        font-size: 18px;
    }
}

@keyframes goUp {
    from {
        top: 80%;
    }
    to {
        top: 77%;
    }
}

@keyframes size {
    from {
        opacity: 0%;
        transform: scale(1);
    }
    to {
        opacity: 100%;
        transform: scale(0.9);
    }
}

@keyframes fadein {
    from{
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes sizeup {
    from {
        opacity: 100%;
        transform: scale(0.9);
    }
    to {
        opacity: 0%;
        transform: scale(1);
    }
}