@keyframes error-bg {
    0% {
        background-position: 100% 0%
    }

    100% {
        background-position: 15% 100%
    }
}

@keyframes fade-in {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes animate-top {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@media (0px <= width <= 450px) {
    .side-nav {
        padding-top: 15px;
    }

    .side-nav a {
        font-size: 18px;
    }
}

@keyframes go-up {
    from {
        top: 80%;
    }
    
    to {
        top: 77%;
    }
}

@keyframes size-up {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes size-up-init {
    from {
        opacity: 0%;
        transform: scale(1);
    }

    to {
        opacity: 100%;
        transform: scale(0.9);
    }
}

@keyframes fade-in {
    from{
        opacity: 0%;
        transform: scale(0.9);
    }

    to {
    transform: scale(1);
        opacity: 100%;
    }
}

@keyframes size-down {
    from {
        opacity: 100%;
        transform: scale(0.9);
    }

    to {
        opacity: 0%;
        transform: scale(1);
    }
}