@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins&display=swap');
@import url('animations.css');

:root {
  --sd-template-columns: repeat(4, 1fr);
  --sd-font-family: 'Rubik';
  --sd-background-size: 400% 400%;
  --sd-background: 45deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%;
  --sd-rotation-degrees: 2deg;
  --sd-btn-background: rgba(0, 0, 0, 0.5);
  --sd-modal-color: rgb(15, 140, 194);
}

body {
  background: rgba(255, 0, 89, 1);
  background: linear-gradient(var(--sd-background));
  background-size: var(--sd-background-size);
  animation: error-bg 5s linear infinite;
  height: 100%;
  /* width: 100vw; */
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  overscroll-behavior: none;
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.freedeck-logo {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 100px;
  width: 100px;
  height: 100px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 2%;
  height: max-content;
  width: max-content;
  background-color: red;
  color: white;
  text-align: center;
}

button {
  background-color: var(--sd-btn-background);
  border-radius: 8px;
  width: 100px;
  height: 100px;
  background-size: 100% auto;
}

.button {
  border-radius: 8px;
  width: 100px;
  height: 100px;
}

button {
  transition-duration: .5s;
}

button:hover {
  transform: scale(1.1);
}

#keys {
  display: grid;
  grid-template-columns: var(--sd-template-columns);
  gap: 2px 7px;
  animation-duration: .25s;
}

#loading {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50px;
}

#login {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50px;
}

.white-txt {
  color: white;
}

.info {
  width: 15rem;
  padding: 2px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  width: 60%;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: var(--sd-modal-color);
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: var(--sd-modal-color);
  color: white;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animate-top;
  animation-duration: 0.4s
}

#sidebar {
  /* Pure magic right here. */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 85%;
  left: 0;
  background-color: #111;
  transition: 0.5s;
}

#themechoices {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px 3px;
}

#settings {
  display: none;
  animation-duration: .5s;
  transition-duration: .5s;
  position: absolute;
  /* transform: scale(1.0); */
  width: 100%;
  height: min-content;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

#sidebar a {
  background-color: #4d4d4d;
  border-radius: 8px;
  padding: 8px 18px 8px 16px;
  width: max-content;
  height: max-content;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#sidebar a:hover {
  background-color: #8f8f8f;
  transform: scale(1.1) rotate(var(--sd-rotation-degrees));
}

#icon-tip {
  background-color: #333;
  border-radius: 5px;
  width: max-content;
  position: absolute;
  top: 77%;
  font-size: large;
  justify-content: center;
  animation-duration: .25s;
  animation-timing-function: ease-in-out;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

.active-page {
  background-color: #6b6b6b;
}

.experiment {
  background-color: rgba(0, 0, 0, 0.19);
  border-radius: 12px;
  padding: 5px;
  width: max-content;
}

.experiment>p {
  background-color: rgba(255, 255, 255, 0.25);
  width: fit-content;
  border-radius: 3px;
}

#snackbar {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  margin-left: -125px;
  left: 50%;
  bottom: 30px;
  position: fixed;
}

#toast {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: relative;
  z-index: 1;
}

#toast.show {
  visibility: visible;
  animation: fade-in 0.5s, fade-out 0.5s 1s;
}

.functions {
  display: flex;
  gap: 5px;
}

* {
  font-family: var(--sd-font-family);
}