* {
    overflow: hidden;
}

#snackbar {
    margin-bottom: 15%;
}

#topbar {
    display: flex;
    width: 100vw;
    align-content: center;
    justify-content: center;
    height: 75px;
}

#topbar > button {
    background-color: rgba(255,0,0,0.5);
    width: 75px;
    height: 75px;
}