* {
    overflow: hidden;
}

#snackbar {
    position: absolute;
    bottom: 2rem;
    right: 50%;
}

.sb-dbg-sound {
    background-color: rgba(0,0,0, 0.75);
    color: white;
    overflow: visible;
    border-radius: 5px;
}

#topbar {
    display: flex;
    width: 100vw;
    align-content: center;
    justify-content: center;
    -webkit-app-region: drag;
    height: 75px;
}

#topbar > button {
    -webkit-app-region: none;
    background-color: rgba(255,0,0,0.5);
    color: black;
    width: 75px;
    height: 75px;
}

#topbar > button:hover {
    color: white;   
}

.flex {
    display: flex;
    gap: 5px;
}