@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
:root {
    --fd-template-columns: repeat(5, 2fr);
    --fd-font-family: 'Rethink Sans', sans-serif;
    --fd-background-size: 400% 400%;
    --fd-background: linear-gradient(105deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    --fd-rotation-degrees: 2deg;
    --fd-btn-background: rgba(0, 0, 0, 0.5);
    --fd-modal-color: rgb(15, 140, 194);
    --fd-btn-w: 6rem;
    --fd-btn-h: 6rem;

    --fd-btn-rad: 1rem;

    --fd-modal-bg: white;

    --fd-col: white;
    --fd-txt-col: black;

    --fd-font-size: 15px;
    --fd-icon-tip-fs: 1.5rem;

    --fd-input-bg: #FFFFFF;

    --fd-logo-size: 75px;
}

@keyframes error-bg {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

.settings-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--fd-modal-bg);
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    overflow-y: visible;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    animation: fade-in 0.5s;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.settings-menu .themelist {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    overflow-y: scroll;
}

.settings-menu .themelist .theme {
    font-size: 0.5rem;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 100%;
    max-width: 14rem;
    border-radius: 5px;
    transition-duration: .25s;
} 

.theme button {
    width: 4rem;
}

body {
    background: rgba(255, 0, 89, 1);
    background: var(--fd-background);
    background-size: var(--fd-background-size);
    animation: error-bg 5s linear infinite;
    font-family: var(--fd-font-family);
    height: 100%;
    /* width: 100vw; */
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    overflow-x: hidden;
}

.unset {
    background-color: white;
    opacity: 0;
}

@keyframes fade-in {
    from{
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        transform: scale(1);
        opacity: 100%;
    }
}

@keyframes fade-out {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

#snackbar {
    display: flex;
    flex-direction: column;
    min-width: 1rem;
    margin-left: -125px;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999;
}

#toast {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: .25rem;
    padding: 1rem;
    position: relative;
    z-index: 1;
}

select {
    background-color: var(--fd-input-bg);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: var(--fd-font-size);
    font-family: var(--fd-font-family);
    color: var(--fd-txt-col);
    outline: none;
    width: 100%;
    margin: 5px 0;
}

input {
    background-color: var(--fd-input-bg);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: var(--fd-font-size);
    font-family: var(--fd-font-family);
    color: var(--fd-txt-col);
    outline: none;
    width: 100%;
    margin: 5px 0;
}

#login-dialog {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    z-index: 9999;
}

input:disabled {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: var(--fd-font-size);
    font-family: var(--fd-font-family);
    color: var(--fd-col);
    outline: none;
    width: 100%;
    margin: 5px 0;
}

#toast.show {
    visibility: visible;
    animation: fade-in 0.5s, fade-out 0.5s 3s;
}

#keys {
    display: grid;
    grid-template-columns: var(--fd-template-columns);
    gap: 2px 7px;
    width: 100%;
    height: 100%;
    margin: 0;
}

#client-key-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: calc(50% + env(safe-area-inset-left));
    transform: translate(-50%, -50%);
}

.button, button {
    width: var(--fd-btn-w);
    height: var(--fd-btn-h);
    border-radius: var(--fd-btn-rad);
    background-color: var(--fd-btn-background);
    text-align: center;
    border: 2px solid #f8f9fa; /* Add a border */
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-size: 100% 100%;

    transition-duration: .15s;

    @media(hover: hover) {
        &:hover {
            filter: brightness(0.84);
            color: white;
            transform: scale(1.05);
            cursor: pointer;
        }
    }
}

.button:active, button:active {
    filter: brightness(1.2);
    transform: scale(0.875);
    color: white;
}

.dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--fd-modal-bg);
    padding: 1rem;
    /* border-radius: 1rem; */
    border: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    /* max-width: 500px; */
    margin: 0 auto;

}



.btn-slider {
    width: 100%;
    height: 2px;
    background-color: rgba(221, 221, 221, 0.5);
    border-radius: 5px;
    outline: none;
    margin: 5px 0;
    -webkit-appearance: none;
    accent-color: rgba(0,0,0,0);
}

/* hide accent color */
.btn-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    border: 0;
    background: transparent;
}

.btn-slider::-moz-range-thumb {
    width: 0;
    height: 0;
    border: 0;
    background: transparent;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.spinner {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}
