:root {
	--fd-icon-count:3;
	--fd-template-columns:repeat(6,3fr);
	--fd-background-size:400% 100%;
	--fd-font-family:Comic Sans MS, Poppins;
	--fd-background:linear-gradient(45deg, rgba(245, 75, 66, 1) 0%, rgba(245, 162, 29, 1) 33%, rgba(195, 245, 29, 1) 66%, rgba(0, 179, 255, 1) 100%);
	--fd-modal-color:rgba(245, 162, 29, 1);
}