:root {

    --fd-template-columns: repeat(5, 2fr);
    /* --fd-template-columns: auto 2fr 2fr 2fr 2fr; */
    --fd-font-family: 'Rethink Sans', sans-serif;
    --fd-background-size: 400% 400%;
    --fd-background: linear-gradient(105deg, rgba(255, 0, 89, 1) 0%, rgba(0, 179, 255, 1) 33%, rgba(255, 0, 89, 1) 66%, rgba(0, 179, 255, 1) 100%);
    --fd-rotation-degrees: 2deg;
    --fd-btn-background: rgba(0, 0, 0, 0.5);
    --fd-modal-color: rgb(15, 140, 194);
    --fd-btn-w: 6rem;
    --fd-btn-h: 6rem;

    --fd-btn-rad: 1rem;

    --fd-modal-bg: white;

    --fd-col: white;
    --fd-txt-col: black;

    --fd-font-size: 15px;
    --fd-icon-tip-fs: 1.5rem;

    --fd-input-bg: #FFFFFF;

    --fd-logo-size: 75px;

    --fd-studio-color: #45475a;

    --fdc-plugin-updatable: #1a1a1a;
    --fdc-plugin-uptodate: #1a1a1a;
    --fdc-plugin-installed: #1a1a1a;

    --fdm-background: linear-gradient(105deg,rgba(0, 179, 255, 1) 0%, rgba(0, 135, 255, 1) 50%, rgba(0, 179, 255, 1) 100%);
    --fdm-background-size: 400% 400%;
    --fdm-bg-anim: abc 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

@keyframes abc {
    0%, 100% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 100%;
    }
}

#keys {
    width: calc(100% - env(safe-area-inset-left) - env(safe-area-inset-right));
}

#keys .button {
    min-height: var(--fd-btn-h);
    min-width: var(--fd-btn-w);
    width: unset;
    height: unset;
}