:root {
	--fd-icon-count:11;
	--fd-template-columns:repeat(5,1fr);
	--fd-background-size:400% 400%;
	--fd-background:linear-gradient(45deg, rgba(51,255,119, 1) 0%, rgba(41,250,0, 1) 33%, rgba(51,255,119, 1) 66%, rgba(41,250,0, 1) 100%);
	--fd-modal-bg: rgba(51,255,119, 1);
	--fd-modal-color:black;

	--fdm-background:linear-gradient(45deg, rgba(51,255,119, 1) 0%, rgba(41,250,0, 1) 33%, rgba(51,255,119, 1) 66%, rgba(41,250,0, 1) 100%);
	--fd-input-bg:rgba(51,255,119, 0.25);
}